<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>

  <body id="details">
    <h2><%= data.name %></h2>
    <div id="home-info">
      <p><img src="<%= data.image %>" alt="Picture of Cocktail"></p>
    </div>
    <div id="lists">
      <ul>
        <% data.ingredients.forEach((value, index) => { %>
        <li><%= value %></li>
        <% }) %>
      </ul>
      <ul>
        <% data.measurements.forEach((value, index) => { %>
        <li><%= value %></li>
        <% }) %>
      </ul>
    </div>
    <p><%= data.instructions %></p>
    <form action="/favoritesList">
      <input class="button" type="submit" value="Back">
    </form>
    <%- include('layout/footer') %>
    <script src="javascript/app.js"></script>
  </body>
</div>

</html>