<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>
  <body id="home">
    <p id="day">
      Drink of the day <br> 
      <%= dotd[0].name %>
    </p>
    <img id="hero" src="images/bartender.PNG" alt="picture">
    <div id="home-info">
      <p></p>
      <p><img src="<%= dotd[0].img %>" alt=""></p>
      <p></p>
    </div>

    <div id="qr-code">
      <img src="https://qrtag.net/api/qr.png" alt="qrtag">
    </div>
    <div class="modal-bg">
      <div class="modal">
        <h2>TERMS OF SERVICE</h2>
        <p>CLICK THIS TERMS OF SERVICE, I AGREE THAT I AM OF AGE AND AM ABLE TO DRINK ALCOHOLIC BEVERAGES. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio officia expedita consectetur laudantium reprehenderit praesentium? Quod tempora veritatis, nostrum corporis recusandae impedit eligendi aliquid magnam pariatur quos iusto commodi ad.</p>
        <input id="submit" type="submit" value="I AGREE">
        <!-- <input  type="submit" value="I AM NOT I AM A BABY"> -->
        <button id="underage">I AM NOT OF AGE</button>
      </div>
    </div>
    <%- include('layout/footer') %>
    <script src="javascript/app.js"></script>
    <!-- <%- include('layout/js') %> -->
  </body>
</div>
</html>