<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>

  <body id="ingredient-details">
    <% data.forEach(value => { %>
      <h2><%= value.name %></h2>
    <p><img src="<%= value.image %>" alt="Picture of Cocktail"></p>
    <div id="">
      <ul>
        <% value.ingredients.forEach((value, index) => { %>
        <li><%= value %></li>
        <% }) %>
      </ul>
      <ul>
        <% value.measurements.forEach((value, index) => { %>
        <li><%= value %></li>
        <% }) %>
      </ul>
    </div>
    <p><%= value.instructions %></p>
    <form action="/favorites" method="POST">
      <input type="hidden" name="name" value="<%= value.name %>">
      <input type="hidden" name="instructions" value="<%= value.instructions %>">
      <input type="hidden" name="image" value="<%= value.image %>">
      <input type="hidden" name="ingredients" value="<%= value.ingredients %>">
      <input type="hidden" name="measurements" value="<%= value.measurements %>">
      <button>Add to Favorites</button>
    </form>
    <% }) %>
    <%- include('layout/footer') %>
    <script src="app.js"></script>
  </body>
</div>

</html>