<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>

  <body id="ingredient">
    <% data.forEach(value => { %>
    <h2><%= value.name %></h2>
    <div id="home-info">
      <p><img src="<%= value.image %>" alt="Picture of Cocktail"></p>
    </div>
    <form action="/ingredient" method="POST">
      <input type="hidden" name="id" value="<%= value.id %>">
      <button class="button">View Details</button>
    </form>
    <% }) %>
    <%- include('layout/footer') %>
    <script src="javascript/app.js"></script>
  </body>
</div>

</html>